<!DOCTYPE html>
<html>
<body>

<meta http-equiv="refresh" content="60"> 
<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    

<h1>Welcome to your EC2 Instance Manager!</h1>
<div><mark><b>{{error}}</b></mark></div>
<h2>Worker Stats</h2>
<ul>
<li>Active Workers: {{num[0]}}</li>
<li>Stopped Workers: {{num[1]}}</li>
<li>Workers Being Started: {{num[2]}}</li>
<li>Workers Being Stopped: {{num[3]}}</li>
</ul>
<div id="charts_worker"></div>
<p><a href="/workers">Link to Detailed Worker Stats</a></p>
 
<h2>Link to Load Balanced User App</h2>
<p><a href="http://user-app-balance-3633947.us-east-1.elb.amazonaws.com">Image Viewer App</a></p>

<h2>Add or Remove Worker Instances</h2>
<form action="{{url_for('add_remove')}}" method="POST">
<button type="submit" name="add" value="added">Add</button>
<button type="submit" name="remove" value="removed">Remove</button>
</form>
<h2>Auto Scaling</h2>
<p><a href="/auto-scale-policy">Configure Auto Scaling Policy</a></p>
<h2>Stop Manager and Workers</h2>
<form action="{{url_for('stop_application')}}" method="POST">
    <button type="submit" name="stop" value="stopped">Stop Manager and Workers</button>
</form>
<h2>Delete Application Data</h2>
<form action="{{url_for('delete_application_data')}}" method="POST">
    <button type="submit" name="delete" value="deleted">Delete</button>
</form>



<script>
    var worker_stats = {{worker | tojson}}
    var wrapper = document.getElementById("charts_worker");
    var charts = '';
    charts = '<div style="width:100%;max-width:350px"><canvas id="myChart"></canvas></div>'
    wrapper.innerHTML = charts
    
    function createChart(x_val, y_val, chart_id, stra)
    {
      var new_x = []
      for (var i = 0; i < x_val.length; i++)
      {
        var time = x_val[i];
        var hours = Math.floor(time);
        var minutes = Math.round((time*60)%60);
        console.log(minutes)
        if (i%1 == 0)
          var time_str = hours + ':' + minutes;
        else 
          var time_str = ''
        new_x.push(time_str);
      }
      new Chart(chart_id, {
      type: "line",
      data: {
        labels: new_x,
        datasets: [{
          fill: false,
          lineTension: 0,
          backgroundColor: "rgba(0,0,255,1.0)",
          borderColor: "rgba(0,0,255,0.1)",
          data: y_val
        }]
      },
      options: {
        legend: {display: false},
        scales: {
          yAxes: [{
            display: true, 
            scaleLabel:{
              display: true,
              labelString: stra
            },
            ticks: {min: 0, max: 10}
          }],
        }
      }
      });   
    }
    
    var x_val = [];
    var y_val = [];
    for (var i = 0; i < worker_stats.length; i++)
    {  
      x_val.push(worker_stats[i][0]);
      y_val.push(worker_stats[i][1]);
    }
    
      createChart(x_val, y_val, 'myChart', 'Num. of Active Workers')
    
    
    
    
    
     
    </script>
</body>
</html>

