<!DOCTYPE html>
<html>
<meta http-equiv="refresh" content="60"> 
<style>
div {text-align: center;} 
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
</style>
<body>


<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    

<h1>Welcome to your EC2 Worker List!</h1>
<p><a href="/home">Home</a></p>

<div class ="grid-container">
<div id="charts_cpu"></div>
<div id="charts_http"></div>
</div>

<script>
var cpu_stats = {{cpu | tojson}}
var http_stats = {{http | tojson}}
var wrapper_http = document.getElementById("charts_http")
var wrapper_cpu = document.getElementById("charts_cpu");
var charts_HTML_cpu = '';
var charts_HTML_http = '';
for (var i = 0; i < cpu_stats.length; i++)
{
  charts_HTML_cpu += '<div style="width:100%;max-width:350px">InstanceID: '+cpu_stats[i][0]+'<canvas id="myChart'+i+'"></canvas></div>'
  
}
for (var i = 0; i < http_stats.length; i++)
{
  charts_HTML_http += '<div style="width:100%;max-width:350px">InstanceID: '+http_stats[i][0]+'<canvas id="myChart_http'+i+'"></canvas></div>'
  
}
wrapper_cpu.innerHTML = charts_HTML_cpu  
wrapper_http.innerHTML = charts_HTML_http

function createChart(x_val, y_val, chart_id, stra)
{
  var new_x = []
  for (var i = 0; i < x_val.length; i++)
  {
    var time = x_val[i];
    var hours = Math.floor(time);
    var minutes = Math.round((time*60)%60);
    console.log(minutes)
    if (i%1 == 0)
      var time_str = hours + ':' + minutes;
    else 
      var time_str = ''
    new_x.push(time_str);
  }
  new Chart(chart_id, {
  type: "line",
  data: {
    labels: new_x,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: y_val
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{
        display: true, 
        scaleLabel:{
          display: true,
          labelString: stra
        },
        ticks: {min: 0, max: 100}
      }],
    }
  }
  });   
}


for (var i = 0; i < cpu_stats.length; i++)
{
  var x_val = [];
  var y_val = [];
  for(var j = 0; j < cpu_stats[i][1].length; j++)
  {
    
    x_val.push(cpu_stats[i][1][j][0]);
    y_val.push(cpu_stats[i][1][j][1]);
  }

  createChart(x_val, y_val, 'myChart'+i, 'CPU Utilization (%)')
}

for (var i = 0; i < http_stats.length; i++)
{
  var x_val1 = [];
  var y_val1 = [];
  for(var j = 0; j < http_stats[i][1].length; j++)
  {
    
    x_val1.push(http_stats[i][1][j][0]);
    y_val1.push(http_stats[i][1][j][1]);
  }

  createChart(x_val1, y_val1, 'myChart_http'+i, 'HTTP Requests Per Min')
}





 
</script>

</body>
</html>

