<!DOCTYPE html>
<html>
<body>


<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
    

<h1>Welcome to your EC2 Worker List!</h1>
<canvas id="myChart" style="width:100%;max-width:700px"></canvas>

<script>


function createChart(x_val, y_val)
{
  
  new Chart("myChart", {
  type: "line",
  data: {
    labels: x_val,
    datasets: [{
      fill: false,
      lineTension: 0,
      backgroundColor: "rgba(0,0,255,1.0)",
      borderColor: "rgba(0,0,255,0.1)",
      data: y_val
    }]
  },
  options: {
    legend: {display: false},
    scales: {
      yAxes: [{ticks: {min: 0, max:5}}],
    }
  }
});   
}
var cpu_stats = {{value}}
console.log(cpu_stats)
var x_val = [];
var y_val = [];
for (var i = 0; i < cpu_stats.length; i++)
{
  x_val.push(cpu_stats[i][0]);
  y_val.push(cpu_stats[i][1]);
}

createChart(x_val, y_val)

 
</script>

</body>
</html>

